<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 col-lg-6">
      <h4>
        <fa-icon [icon]="faBookmark"></fa-icon>
        Favoritos:
      </h4>
      <div class="form-group mb-3">
        <label>Adicionar cidade aos favoritos:</label>
        <jv-cities-typeahead
          [formControl]="searchTypeaheadControl"></jv-cities-typeahead>
      </div>

      <div *ngIf="!(bookmarks$ | async).length">Nenhum favorito adicionado</div>

      <ul class="list-unstyled">
        <li *ngFor="let bookmark of bookmarks$ | async">
          <a [routerLink]="['../details']"
             [queryParams]="{lat: bookmark.coord.lat, lon: bookmark.coord.lon}">
            {{ bookmark.name }}
          </a>
          <button class="btn btn-outline-dark btn-sm"
                  (click)="removeBookmark(bookmark.id)">X</button>
        </li>
      </ul>
    </div>
  </div>
</div>
